@model App.Ui.Models.SentenceStructure
@using System.Security.Claims
@using Microsoft.IdentityModel.JsonWebTokens

@{
    var userName = string.Empty;

    if (User.Identity.IsAuthenticated)
    {
        var claimsIdentity = User.Identity as ClaimsIdentity;
        if (claimsIdentity != null)
        {
            // Extract the username from claims
            var userNameClaim = claimsIdentity.FindFirst(ClaimTypes.Name);
            if (userNameClaim != null)
            {
                userName = userNameClaim.Value;
            }
        }
    }
}

@{
    var EntityName = "SentenceStructure";
    var ModelID = $"{EntityName}ModelCreate";
    var FromID = $"{EntityName}Form";
    var SaveChangesId = $"btnSave{EntityName}";
    var UpdateId = $"btnUpdate{EntityName}";
}

<div class="modal fade" id=@ModelID tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="myModalLabelAdd" class="modal-title">Create @EntityName</h5>
                <h5 id="myModalLabelUpdate" class="modal-title">Update @EntityName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id=@FromID>
                    <input type="hidden" asp-for="CreatedBy" value="@userName" />
                    <input type="hidden" asp-for="UpdatedBy" value="@userName" />
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="EnglistSentence" class="control-label"></label>
                                    <input asp-for="EnglistSentence" placeholder="Enter Company Name" class="form-control" id="EnglistSentence" />
                                    <span asp-validation-for="EnglistSentence" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BanglaSentence" class="control-label"></label>
                                    <input asp-for="BanglaSentence" placeholder="Enter Company Full Name" class="form-control" id="BanglaSentence" />
                                    <span asp-validation-for="BanglaSentence" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" asp-for="FormsId"></label>
                                    <select class="form-control" asp-for="FormsId" id="FormsDropdown">
                                        <option value="">Select Forms</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" asp-for="SubCatagoryID"></label>
                                    <select class="form-control" asp-for="SubCatagoryID" id="SubCatagoryDropdown">
                                        <option value="">Select Company</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id=@SaveChangesId>Save changes</button>
                <button type="button" class="btn btn-primary" id=@UpdateId>Update</button>
            </div>
        </div>
    </div>
</div><!-- End Large Modal-->